<!-- <h1>hello</h1>
<h1>{{name}}</h1>

<app-login></app-login>
<app-signup></app-signup>
<app-profile></app-profile>



<h1>login Components</h1> -->
<h1>Counter App</h1>
<div>
  <h2>{{count}}</h2>
  <div>
    <button (click)="handleCount('plus')" class="btn" class="bg-red">Increment</button>
    <button  click="handleCount('reset')" class="btn" class="bg-green">Reset</button>
    <button (click)="handleCount('minus')" class="btn" class="bg-black">Decrement</button>
  </div>
</div>

<h1>Function call on button</h1>
<!-- <button (click)="sum(10,20)">submit</button> -->

<h1>Event in Angualr</h1>
<button class="btn" name="login" (click)="handleEvent($event)">Click Event</button>
<input type="text"
(input)="handleEvent($event)"
name="user">


<h1>{{dispalyName}}</h1>
<input type="text" value={{name}} (input)="getName($event)" placeholder="Enter User name">
<br>
<button (click)="showName()">Get Value</button>
<button (click)="setName()">Set Value</button>
<br>
<h1> User Email : {{email ? email : "enter the email"}}</h1>
<input type="text"  placeholder="Enter Email" #emailField>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button>Set Email</button>


<h1>If Else Control | Control flow</h1>
<button (click)="toggle1()">{{display === true ? true : false}}</button>
@if(display){
  <div style="width:200px; height: 200px; background-color: green;">

  </div>
}
<br>
<button (click)="togglehandler()">{{toggle ? "show" : "hide"}}</button>

@if(toggle){
  <div style="background-color: gold; width: 200px; height: 200px;">

  </div>
}
@else{
  <div style="background-color: red; width: 200px; height: 200px;" >

  </div>
}
